.title-image
{
    width: 1000px;
    left-margin: 20px;
    text-align: center;
}

img
{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.introduction
{
    width: 800px;
    margin-left: 100px;
}

.track-listing
{
    /* float: right; */
    /* margin: auto; */
    /* align: right */
    width: 1000px;
    text-align: center;
}

.track-listing img
{
    width: 45%;
    margin: 10px;
}
